@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #101010;
    color: #fff;
}

.header {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    position: relative;
}

.hamburger {
    display: none;
    margin-right: 10px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    position: absolute;
    right: 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 2%;
}

.nav-item {
    margin: 0 1rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #c7c7c7;
}

.nav-link:hover {
    color: #482ff7;
}

.nav-logo {
    text-align: center;
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .navbar {
        /* flex-direction: row; Ustawia elementy w wierszu dla mniejszych ekranów */
        justify-content: center; /* Umożliwia rozmieszczenie elementów */
    }

    .nav-menu {
        position: fixed;
        left: 100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        position: absolute;
        right: 0;
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
